<?xml version="1.0"?>
<robot name="go2w_description" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- Import sensor definitions -->
    <xacro:include filename="$(find go2w_description)/xacro/sensors.xacro"/>

    <!-- Include original URDF from go2w_description (root link is "base") -->
    <xacro:include filename="$(find go2w_description)/urdf/go2w_description.urdf"/>

    <!-- Add base_footprint (ground projection) -->
    <link name="base_footprint" />
    <joint name="base_footprint_joint" type="fixed">
        <origin xyz="0 0 0.4" rpy="0 0 0" />
        <parent link="base_footprint" />
        <child link="base" />
    </joint>

    <!-- Add Hesai LiDAR -->
    <xacro:hesai_lidar_sensor parent_link="base"/>

    <!-- Add UTLidar frame, position matches radar while orientation matches base -->
    <link name="utlidar_lidar" />
    <joint name="utlidar_lidar_joint" type="fixed">
        <origin xyz="0.28945 0 -0.046825" rpy="-2.924065656505679 -0.14998090081098114 -0.9763385649215685" />
        <parent link="base" />
        <child link="utlidar_lidar" />
    </joint>

</robot>
