<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- Hesai lidar sensor macro -->
    <xacro:macro name="hesai_lidar_sensor" params="parent_link">
        <link name="hesai_lidar">
            <inertial>
                <origin xyz="0 0 0" rpy="0 0 0" />
                <mass value="0" />
                <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0" />
            </inertial>
            <visual>
                <origin xyz="-0.00286 0 -0.025" rpy="1.5707963267948966 0 0" />
                <geometry>
                    <mesh filename="package://go2w_description_modified/stl/XT32XT16.stl" scale="0.001 0.001 0.001" />
                </geometry>
                <material name="hesai_lidar_material">
                    <color rgba="0.20 0.22 0.24 1.0" />
                </material>
            </visual>
            <collision>
                <origin xyz="-0.00286 0 -0.025" rpy="1.5707963267948966 0 0" />
                <geometry>
                    <mesh filename="package://go2w_description_modified/stl/XT32XT16.stl" scale="0.001 0.001 0.001" />
                </geometry>
            </collision>
        </link>

        <joint name="hesai_lidar_joint" type="fixed">
            <parent link="${parent_link}" />
            <child link="hesai_lidar" />
            <!-- Hesai LiDAR is mounted with a 90deg yaw rotation (per hardware). -->
            <origin xyz="0.145 0 0.11" rpy="0 0 1.57079632679" />
        </joint>
    </xacro:macro>

</robot>
